$dark-blue: #0F454F;

.article-options {
  width: 75%;
  margin: 0 auto;
  display: block;
  position: relative;
}

.article-option {
  font-size: 25px;
  line-height: 35px;
  cursor: pointer;
  background-color: $dark-blue;
  color: white;
  margin: 5px 0px;
}

.sentence {
  width: 100%;
  display: block;
  margin-bottom: 10px;

  .controls {
    display: inline-block;
    width: 30%;

    .control {
      display: inline-block;
      width: 50%;
      text-align: center;
      color: black;

      &.add {
        & .fa:hover, & .fa.active {
          color: green;
        }
      }

      &.flag {
        & .fa:hover, & .fa.active {
          color: red;
        }
      }

      .fa {
        cursor: pointer;
      }
    }
  }

  .content {
    display: inline-block;
    width: 70%;
  }
}

.selections {
  background-color: #eee;
  padding: 10px;
  margin: 10px 0px;

  .summary, .flagged {
    width: 75%;
    margin: 20px auto;
    display: block;

    .summary-sentence, .flagged-sentence {
      margin: 10px 0px;

      .remove {
        width: 20%;
        text-align: center;
        display: inline-block;
      }

      .content {
        width: 80%;
        display: inline-block;
      }
    }
  }
}

#messages {
  position: fixed;
  top: 10px;
  width: 75%;
  margin: 0 12.5%;

  .message {
    background-color: #FC8D1F;
    color: black;
    position: relative;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 3px black;

    .content {
      width: 80%;
      display: inline-block;
    }

    .remove-message {
      width: 20%;
      display: inline-block;
      text-align: right;

      .fa {
        cursor: pointer;
      }
    }
  }
}
