/*@import  '../../node_modules/font-awesome/scss/font-awesome';*/

$dark-blue: #0F454F;
$z-index-messages: 1000;
$z-index-tooltip: $z-index-messages - 1;


@mixin color-tooltip($color) {
  .vote-bubble, .vote-tooltip {
    background-color: $color;
  }

  .vote-tooltip:after {
    border-bottom-color: $color;
  }
}

*, *:after *:before {
  box-sizing: border-box;
}

.article-options {
  width: 75%;
  margin: 0 auto;
  display: block;
  position: relative;
}

.article-option {
  font-size: 25px;
  line-height: 35px;
  cursor: pointer;
  background-color: #eee;
  color: black;
  margin: 5px 0px;

  .status {
    width: 10%;
    display: inline-block;
    text-align: center;
    color: white;

    .flagged-article {
      background-color: red;
    }

    .summary-added {
      background-color: green;
    }

    .sentences-updated {
      background-color: #FFC346;
    }
  }

  .headline {
    width: 90%;
    display: inline-block;
    padding-left: 10px;
  }
}

.close-review {
  background-color: $dark-blue;
  color: white;
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
  border-radius: 5px;
  cursor: pointer;
  width: 15%;
  text-align: center;
}

.sentence {
  width: 100%;
  display: block;
  margin: 10px 0px;

  .controls {
    display: inline-block;
    width: 30%;

    .control {
      display: inline-block;
      width: 33%;
      text-align: center;
      color: black;
      cursor: pointer;
      font-size: 20px;
      line-height: 30px;

      &.add {
        background-color: white;
        &:hover, &.active {
          background-color: green;
          color: white;
        }
      }

      &.flag {
        background-color: white;
        &:hover, &.active {
          background-color: red;
          color: white;
        }
      }
    }

    .votes {
      width: 33%;
      display: inline-block;
      text-align: center;
    }

    .vote {
      position: relative;
      display: inline-block;
      width: 33%;

      .vote-bubble {
        width: 15px;
        height: 15px;
        font-size: 10px;
        line-height: 15px;
        margin: 5px;
        border-radius: 7.5px;
        display: inline-block;
        color: white;
        cursor: pointer;
      }

      .vote-tooltip {
        position: absolute;
        color: white;
        top: 110%;
        left: -100%;
        display: none;
        width: 300%;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        z-index: $z-index-tooltip;
        box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;

        &.show {
          display: block;
        }

        &:after {
          content: "";
          position: absolute;
          border-top: none;
          bottom: 100%;
          left: 45%;
          border: 6px solid transparent;
          width: 0;
          height: 0;
        }

      }
    }

    .vote-Eric {
      @include color-tooltip(#AA3939);
    }
    .vote-Mike {
      @include color-tooltip(#E3740D);
    }
    .vote-Reid {
      @include color-tooltip(#A2C563);
    }
    .vote-Andrey {
      @include color-tooltip(#437983);
    }
    .vote-Dale {
      @include color-tooltip(#515F90);
    }
    .vote-Bot {
      @include color-tooltip(#6B4E90);
    }

  }

  .content {
    display: inline-block;
    width: 70%;
    padding-left: 10px;
  }
}

.summary-picker {
  .headline {
    width: 90%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }

  .loading-sentences {
    width: 100%;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    margin: 20px 0px;
  }
}

.selections {
  background-color: #eee;
  padding: 10px;
  margin: 10px 0px;

  .summary, .flagged {
    width: 75%;
    margin: 20px auto;
    display: block;

    .summary-sentence, .flagged-sentence {
      margin: 10px 0px;

      .remove {
        width: 20%;
        text-align: center;
        display: inline-block;

        .fa {
          cursor: pointer;
        }
      }

      .content {
        width: 80%;
        display: inline-block;
      }
    }
  }
}

#messages {
  position: fixed;
  top: 10px;
  width: 75%;
  margin: 0 12.5%;
  z-index: $z-index-messages;

  .message {
    background-color: #FC8D1F;
    color: black;
    position: relative;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 3px black;

    .content {
      width: 80%;
      display: inline-block;
    }

    .remove-message {
      width: 20%;
      display: inline-block;
      text-align: right;

      .fa {
        cursor: pointer;
      }
    }
  }
}

.save-summary {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  background-color: $dark-blue;
  color: white;
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: darken($dark-blue, .7);
  }
}
