$dark-blue: #0F454F;

.article-options {
  width: 75%;
  margin: 0 auto;
  display: block;
  position: relative;
}

.article-option {
  font-size: 25px;
  line-height: 35px;
  cursor: pointer;
  background-color: $dark-blue;
  color: white;
  margin: 5px 0px;
}

.sentence {
  width: 100%;
  display: block;
  margin-bottom: 10px;

  .controls {
    display: inline-block;
    width: 30%;

    .control {
      display: inline-block;
      width: 50%;
      text-align: center;
      color: black;

      &.add {
        & .fa:hover, & .fa.active {
          color: green;
        }
      }

      &.flag {
        & .fa:hover, & .fa.active {
          color: red;
        }
      }

      .fa {
        cursor: pointer;
      }
    }
  }

  .content {
    display: inline-block;
    width: 70%;
  }
}

.selections {
  background-color: #eee;
  padding: 10px;
  margin: 10px 0px;

  .summary, .flagged {
    width: 75%;
    margin: 20px auto;
    display: block;

    .summary-sentence, .flagged-sentence {
      margin: 10px 0px;
    }
  }
}
